*{
    margin: 0;
}
/* ||||||||||||||  MENU DE OPCIONES ||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/*||| CONTENEDOR "Contenedor_Acciones_Menu" |||*/
.Pagina_Ofertas{
    background-color: black;
}
.imagen_logo_pantallas{
    width: 125px;
    height: 100px;
    background-color: #F0D513;
    transition: transform 0.5s ease;
    border-radius: 50%;
}
.imagen_logo_pantallas:hover{
    transform: scale(1.3);
}
.navegacion{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
}
.navegacion a{
    text-decoration: none;
    text-align: center;
    color: antiquewhite;
    font-size: 20px;
    margin-right: 20px;
    letter-spacing: 5px;
    text-shadow: 3px 3px 0px rgba(255, 140, 0, 0.5);
    transition: transform 0.5s ease;
} 
.navegacion a:hover{
    transform: scale(2.5);
}
.navegacion a:hover{
    transform: scale(1.1);
}
.navegacion li:last-child a{
    margin-right: 0;
}
.navegacion li{
    text-align: center;
}
/*|||=== FIN CONTENEDOR "Contenedor_Acciones_Menu===|||"*/

/*||| CONTENEDOR "Contenido_Pagina |||"*/
.Contenido_Pagina{
    background-color: bisque;
}

/*||| MEDIA PARA EL MENU DE OPCIONES |||*/
@media (max-width: 800px) {
    .Pagina_Principal{
        display: flex;
        flex-direction: column;
    }
    .Contenedor_Acciones_Menu{
        display: flex;
        flex-direction: column;
    }
    .Logo_Kaluka{
        display: flex;
        justify-content: center;
    }
    .imagen_logo_pantallas{
        display: flex;
    }
    .pagina_actual{
        display: flex;
        flex-direction: column;
    }
    .contenedor_opciones{
        display: flex;
        flex-direction: column;
    }
    .navegacion{
        display: flex;
        flex-direction: column;
    }
    .navegacion li{
        display: flex;
        flex-direction: column;
    }
    
}

/*|||=== FIN MEDIA DEL MENU DE OPCIONES ===|||*/


/*|||||||||||||||||||||||||||||||||||||||||||*/
/*|||||||||FIN MENU DE OPCIONES||||||||||||||*/

