*{
    margin: 0;
    background-color: black;
    align-items: center;
    justify-content: center;
    

}


/*|||||||||||| PAGINA VALIDACION ||||||||||||| */
/*||||||||||||||||||||||||||||||||||||||||||||*/
.Validacion_Edad{
    background-color: black;
    justify-content: center;
    display: flex;
    display: block;
    align-items: center;
    
    
}

body, html{
    margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
}

.Validacion_Edad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
  }
  
  /* Esto centra verticalmente el contenido dentro del contenedor */
  .Nombre_Empresa {
    text-align: center;
    padding: 30px;
  }
  
  /* Esto centra horizontalmente el contenido dentro del contenedor */
  .KalukA, .BEER {
    margin: 0 auto;
  }
  
  /* Esto centra verticalmente y horizontalmente el contenido dentro del contenedor */
  .Contenedor_Acciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
  }
/* ||| CONTENEDOR Nombre_Empresa |||*/
.Nombre_Empresa{
    text-align: center;
    padding: 30px;
}
.KalukA{
    color: #F0D513;
    letter-spacing: 15px;
    font-size: 80px;
    font-weight: 900;
    font-family: 'Kanit',sans-serif;
}
.BEER{
    color: #FFA600;
    font-size: 60px;
    letter-spacing: 30px;
    position: relative;
    margin-left: 20px;
    font-family: 'Kanit',sans-serif;
}
/* |||=== FIN CONTENEDOR Nombre_Empresa ===|||*/

/* ||| CONTENEDOR Contenedor_Acciones |||*/
.Contenedor_Acciones{
    background-color: black;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: -5px;
}

.fecha_nacimiento input, .fecha_nacimiento p{
    margin: 20px;
}
.fecha_nacimiento p{
    color: aliceblue;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(252, 91, 4, 0.5)
}
.fecha_nacimiento input{
    border-radius: 15px;
    font-size: 20px;
    width: 200px;
    height: 100px;
    margin: 0 50px;
    background-color: black;
    border-color: aliceblue;
    border-width: 5px;
    color: aliceblue;
    transition: transform 0.5s ease;
    text-align: center;
}
.fecha_nacimiento input:hover{
    transform: scale(1.1);
}
.fecha_nacimiento .ingresar{
    border-radius: 30px;
    width: 200px;
    height: 75px;
    margin: 0 50px;
    background-color: black;
    border-color: aliceblue;
    border-width: 5px;
    color: aliceblue;
    transition: transform 0.5s ease;
}
.fecha_nacimiento .ingresar:hover{
    transform: scale(1.1);
}
.fecha_nacimiento input::placeholder{
    color: aliceblue;
    text-align: center;
}

/*Desaparece las flechitos del input de tipo number*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}
/* |||=== FIN CONTENEDOR Contenedor_Acciones ===|||*/

/* ||| CONTENEDOR Pie_Pagina_Validacion |||*/
.Pie_Pagina_Validacion{
    background-color: black;
    display: flex;
    justify-content: space-between;
    
    
}
.imagen1_logo{
    width: 150px;
    height: 150px;
}
.imagen2_tiktok,.imagen3_instagram{
    width: 35px;
    height: 35px;
    padding: 50px 5px;
}
.imagen1_pie_pagina, .texto1_pie_pagina,
.texto2_pie_pagina,.imagen2_tiktok_pie_pagina,
.imagen3_instagram_pie_pagina{
    margin: 20px;
    transition: transform 0.5s ease;
}
.imagen1_pie_pagina:hover, .texto1_pie_pagina:hover,
.texto2_pie_pagina:hover,.imagen2_tiktok_pie_pagina:hover,
.imagen3_instagram_pie_pagina:hover{
    transform: scale(1.1);
}

.texto_advertencia, .texto_menores_edad{
    text-align: center;
    color: aliceblue;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(252, 91, 4, 0.5)
}
.texto_advertencia{
    padding: 50px 50px;
}
.texto_menores_edad{
    padding: 50px 10px;
}
/*|||=== FINAL CONTENEDOR Pie_Pagina_Validacion ===|||*/

/*||| MEDIA PARA AJUSTAR EL TAMAÑO DE LA PAGINA |||*/
@media (max-width:600px) {
    .Validacion_Edad{
        display: flex;
        flex-direction: column;
    }
    .Contenedor_Acciones{
        display: flex;
        flex-direction: column;
    }
    .Pie_Pagina_Validacion{
        display: flex;
        flex-direction: column;
    }
    .imagen1_pie_pagina,.imagen2_tiktok_pie_pagina,
    .imagen3_instagram_pie_pagina{
        display: flex;
        justify-content: center;
    }
}
/*|||=== FINAL DE LA MEDIA ===|||*/
/*body{
    background-image: url(../Imagenes/ZetC7m.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}*/
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*|||||||||||||||||| FIN PAGINA VALIDACION ||||||||||||*/


/* ||||||||||||||  MENU DE OPCIONES ||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/*||| CONTENEDOR "Contenedor_Acciones_Menu" |||*/
.Pagina_Principal{
    background-color: black;

}
.Contenedor_Acciones_Menu{
    display: flex;
    justify-content: space-between;
}
.Logo_Kaluka{
    background-color: black;
    margin-left: 50px;
}
.Logo_Kaluka img{
    width: 125px;
    height: 100px;
    margin-top: 5px;
    transition: transform 0.5s ease;
}
.Logo_Kaluka img:hover{
    transform: scale(1.1);
}
.pagina_actual{
    color: #FFA600;
    display: flex;
    align-items: center;
    background-color: black;
    letter-spacing: 10px;
    text-shadow: 3px 3px 0px rgba(247, 245, 244, 0.5);
}
/*.contenedor_opciones{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
} */
.navegacion{
    background-color: black;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 45px;
    margin-right: 30px;
}
.navegacion a{
    text-decoration: none;
    text-align: center;
    color: antiquewhite;
    font-size: 20px;
    margin-right: 20px;
    letter-spacing: 5px;
    text-shadow: 3px 3px 0px rgba(255, 140, 0, 0.5);
    transition: transform 0.5s ease;
} 
.navegacion a:hover{
    transform: scale(2.5);
}
.navegacion a:hover{
    transform: scale(1.1);
}
.navegacion li:last-child a{
    margin-right: 0;
}
.navegacion li{
    text-align: center;
}
/*|||=== FIN CONTENEDOR "Contenedor_Acciones_Menu===|||"*/

/*||| CONTENEDOR "Contenido_Pagina |||"*/
.Contenido_Pagina{
    background-color: bisque;
}

/*||| MEDIA PARA EL MENU DE OPCIONES |||*/
@media (max-width: 800px) {
    .Pagina_Principal{
        display: flex;
        flex-direction: column;
    }
    .Contenedor_Acciones_Menu{
        display: flex;
        flex-direction: column;
    }
    .Logo_Kaluka{
        display: flex;
        justify-content: center;
    }
    .imagen_logo_pantallas{
        display: flex;
    }
    .pagina_actual{
        display: flex;
        flex-direction: column;
    }
    .contenedor_opciones{
        display: flex;
        flex-direction: column;
    }
    .navegacion{
        display: flex;
        flex-direction: column;
    }
    .navegacion li{
        display: flex;
        flex-direction: column;
    }
    
}

/*|||=== FIN MEDIA DEL MENU DE OPCIONES ===|||*/


/*|||||||||||||||||||||||||||||||||||||||||||*/
/*|||||||||FIN MENU DE OPCIONES||||||||||||||*/

