
 

  .Contenedor_Acciones_Menu{
    background-color: black;
    height: 100px;
    
    width: 100%;
    top: 0;
    left: 0;
  }

  .navegacion{
    display: flex;
    justify-content: space-between;
    
  }

  .navegacion li a{
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 3px;
  }

  

  .imagen_logo_pantallas{
    width: 125px;
    height: 100px;
    margin-left: 30px;
  }

  .nav-menu{
    display: flex;
    margin-right: 30px;
    list-style: none;

  }

  .nav-menu li{
    width: max-content;
  }

  .nav-menu li a{
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    margin: 0 25px;
    line-height: 100px;
    text-transform: uppercase;
    width: max-content;
  }

  .nav-menu li a:hover,
  .nav-menu-link_active{
    font-size: 20px;
    transition: 0.5s;
  }

  .nav-toggle{

    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;

    display: none;
    cursor: pointer;

  }

  @media (max-width: 1200px){
    .nav-menu li a{
      font-size: 14px;
      
      margin: 0 5px;
    }
      
  }



  @media (max-width: 800px){
  
    .nav-menu{
      flex-direction: column;
      align-items: center;
      margin-right: 0px;
      background-color: #767778bd;
      position: fixed;
      z-index: 9999999;
      right: 0;
      top: 100px;
      width: 45%;
      padding: 20px 0px ;

      height: calc(100% - 100px);
      overflow-y: auto;
      left: 100%;
      transition: left 0.3s;
  
    }

    .nav-menu li a{
      font-weight: bold;
    }
  
   
  
    .nav-menu li a:hover,
    .nav-menu-link_active{
      font-size: 20px;
      transition: 0.5s;
    }
    .nav-toggle{

  
      display: block;
  
    }

    .nav-menu_visible{
      left: 55%;
      

    }

  }
